@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

#instructions {
  font-family: "Pixelify Sans", sans-serif;
}

#game-area {
  position: relative;
  width: 800px;
  height: 450px;
  max-width: 100%;
  max-height: auto;
  background: lightgoldenrodyellow;
  border: 1px solid black;
}

#character {
  position: absolute;
  left: 50%;
  bottom: 20%;
}

#character.jumping {
  animation: jump 1s;
}

@keyframes jump {
  0%    { bottom: 20%; }
  50%   { bottom: 30%; }
  100%  { bottom: 20%; }
}